{% extends "base.html" %}

{% block content %}
<legend>Blood Donation Event Registration</legend>
<form class ="form-horizontal" name="events" action="/events/register" id="events" method="GET" data-validate="parsley">
<fieldset>
	<div class="control-group">
	<label class="control-label" for="input01">Organization Name:</label>
 	<div class="controls"><input type="text" name="name" id="name" data-required="true" data-trigger="keyup"><br>
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="input01">Where:</label>
	<div class="controls"> <input type="text" name="location" data-required="true" data-trigger="keyup"><br>
	</div>
	</div>
	
	<div class="control-group">
	<label class="control-label" for="input01">When:</label>
	<div class="controls"> <input type="datetime" name="date" data-required="true" data-type="dateIso" data-trigger="change"><br>
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="input01">Contact Person Name:</label> 
	<div class="controls"><input type="text" name="contact_name" data-required="true" data-trigger="keyup"><br>
	</div>
	</div>	

	<div class="control-group">
	<label class="control-label" for="input01">Contact:</label>
	<div class="controls"><input type="number" name="contact" data-type="digits" data-required="true" data-trigger="keyup"><br>
	</div>
	</div>	

	<div class="control-group">
	<label class="control-label" for="input01">Email:</label>
	<div class="controls"> <input type="email" name="email" data-type="email" data-required="ture" data-trigger="change"><br>
	</div>
	</div>
	
	<div class="control-group">
	<label class="control-label" for="input01">Expected no. of donors:</label>
	<div class="controls"> <input type="number" name="no_of_donors" data-type="number" data-required="ture" data-trigger="keyup"><br>
	</div>
	</div>
	
	<div class="control-group">
	<label class="control-label" for="input01">Event Details:</label> 
	<div class="controls"><textarea id="details" name="details" data-trigger="keyup" ></textarea><br>
	</div>
	</div>
	
	<div class="form-actions">
	<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
	<button type="reset" class="btn">Reset</button>
	</div>
	
</fieldset>
</form>
{% endblock %}
